.hero-gallery {
  margin-top: 12px;
  display: flex;
  height: 400px;
  align-items: center;

  @include breakpoint('<large') {
    height: auto;
    flex-direction: column-reverse;
  }

  div {
    max-height: 100%;

    &.title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 0 30px;

      @include breakpoint('<medium') {
        padding: 0;
      }

      h1 {
        text-align: center;
      }

      img {
        max-width: 100%;
      }
    }
  }

  img.highlight {
    height: 400px;

    @include breakpoint('<large') {
      height: auto;
      width: 100%;
    }
  }
}
