html,
body {
    font-size: $tiny;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0 0.5rem 0;
    font-family: $font-family-display;
    font-weight: $font-weight-light;
    letter-spacing: 0.02em;
    line-height: 1.2em;
}

h1 {
    font-size: 2.5rem;
    margin: 0 0 1rem 0;

    @include breakpoint('<medium') {
      font-size: 1.5rem;
      margin: 0 0 0.5rem 0;
    }
}

h2 {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

p {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1em 0;
    font-weight: $font-weight-light;
}

ul {
    list-style-type: square;
    margin: 1rem 0;
    padding: 0 0 0 2.5rem;
    font-weight: $font-weight-light;

    li {
        line-height: 1.5rem;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}
