---
layout: base
title: Basecamp
short_title: Basecamp
sitemapPriority: 0.3
---

<main class="min-h-screen flex flex-col">
  <header class="py-10 px-6 flex flex-col items-center bg-cover bg-center lg:bg-[url('https://ik.imagekit.io/tony/_DSC5790_j4sGT0CHr.jpg?tr=w-2048')] md:bg-[url('https://ik.imagekit.io/tony/_DSC5790_j4sGT0CHr.jpg?tr=w-1024')] bg-[url('https://ik.imagekit.io/tony/_DSC5790_j4sGT0CHr.jpg?tr=w-800')]">
    <div class="rounded-full w-40 h-40 overflow-hidden mb-6">
      <img class="w-full -mt-[20px]"
            src="https://ik.imagekit.io/tony/i-7X3zWwQ-X3_ryyTDzYKN.jpg?tr=w-300"
            srcSet="https://ik.imagekit.io/tony/i-7X3zWwQ-X3_ryyTDzYKN.jpg?tr=w-600 2x"
            alt="Profile Photo"></img>

    </div>
      <a href="/" class="drop-shadow-2xl">
        {% render "title", color: "white", class: "md:h-14 h-6" %}
      </a>
  </header>

  <section class="sm:mx-8 text-gray-800 pb-10 flex justify-center">
    <div class="flex flex-col items-center max-w-screen-sm sm:w-full w-96 bg-white p-6 rounded">
      <span class="px-8 text-center">Photographer and filmmaker specializing in trail running athlete storytelling and brand campaigns.</span>
      <span class="px-8 text-center italic mb-4">San Francisco, CA</span>
      <div class="flex mb-3 justify-around items-center w-full max-w-xs">
        <a href="https://instagram.com/tonywithasony" target="_blank" rel="noopener noreferrer" class="">
          <img class="h-[24px]" src="/images/Instagram.png" alt="Instagram"></img>
        </a>
        <a href="https://vimeo.com/tonywithasony" target="_blank" rel="noopener noreferrer" class="">
          <img class="h-[24px]" src="/images/vimeo.jpeg" alt="Vimeo"></img>
        </a>
        <a href="https://www.youtube.com/@tonywithasony" target="_blank" rel="noopener noreferrer" class="">
          <img class="h-[24px]" src="/images/yt_icon_rgb.png" alt="YouTube"></img>
        </a>
        <a href="https://www.linkedin.com/in/tonywithasony/" target="_blank" rel="noopener noreferrer" class="">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
            <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
          </svg>
        </a>
        <a href="mailto:tony@tonywithasony.com" class="text-3xl">
          ✉️
        </a>
        <a href="https://tonywithasony.substack.com/" target="_blank" rel="noopener noreferrer" class="text-2xl">
          📝
        </a>
        <a href="https://podcasts.apple.com/us/podcast/run-of-show-podcast/id1818381801" target="_blank" rel="noopener noreferrer" class="text-2xl">
          🎙️
        </a>
      </div>
      <hr class="w-full" />
      <div class="flex flex-col items-center my-4">
        <span class="mb-2 font-sans">Used one of my photos? Please consider</span>
        <a class="w-full" href="https://www.buymeacoffee.com/tonywithasony"><img class="m-auto" src="https://img.buymeacoffee.com/button-api/?text=Buying me a coffee&emoji=&slug=tonywithasony&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff" /></a>
      </div>
      <h3 class="italic bold text-4xl mt-3">Links</h3>
      <ul id="links" class="font-sans text-xl text-center">
        {% for link in links %}
          {% if link.type == "photos" %}
            <li><a class="block rounded-[12px] py-4 px-8 bg-slate-100 hover:bg-slate-200 mt-4 max-w-[400px]" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">📸 {{ link.title }}</a></li>
          {% elsif link.type == "video" %}
            <li><a class="block rounded-[12px] py-4 px-8 bg-slate-100 hover:bg-slate-200 mt-4 max-w-[400px]" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">🎥 {{ link.title }}</a></li>
          {% elsif link.type == "blog" %}
            <li><a class="block rounded-[12px] py-4 px-8 bg-slate-100 hover:bg-slate-200 mt-4 max-w-[400px]" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">📝 {{ link.title }}</a></li>
          {% elsif link.type == "podcast" %}
            <li><a class="block rounded-[12px] py-4 px-8 bg-slate-100 hover:bg-slate-200 mt-4 max-w-[400px]" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">🎙️ {{ link.title }}</a></li>
          {% else %}
            <li><a class="block rounded-[12px] py-4 px-8 bg-slate-100 hover:bg-slate-200 mt-4 max-w-[400px]" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <h3 class="italic bold text-4xl mt-5">Sponsors</h3>
      <ul class="font-sans text-xl text-center">
        <li><a class="block rounded-[12px] py-4 px-8 bg-slate-100 hover:bg-slate-200 mt-4 max-w-[400px]" href="https://www.equatorcoffees.com/" target="_blank" rel="noopener noreferrer">Equator Coffees<br />15% off with EQ4_TONY<br />30% off Subscription with EQ4TONYSUB30</a></li>
      </ul>
    </div>
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", async function () {
      const res = await fetch("/.netlify/functions/get-links");

      if (res.status != 200) return;
      const links = await res.json();
      console.log(links);

      if (links.length === 0) return;

      const container = document.getElementById("links");
      var nodes = [];

      links.forEach( function (link) {
        const l = document.createElement('li');
        const a = document.createElement('a');
        a.classList.add("block", "rounded-[12px]", "py-4", "px-8", "bg-slate-100", "hover:bg-slate-200", "mt-4", "max-w-[400px]");
        a.setAttribute("target", "_blank");
        a.setAttribute("rel", "noopener noreferrer");
        a.setAttribute("href", link.url);
        var emoji = "";
        switch (link.type) {
          case "photos":
            a.innerText = "📸 " + link.title;
            break;
          case "video":
            a.innerText = "🎥 " + link.title;
            break;
          case "blog":
            a.innerText = "📝 " + link.title;
            break;
          case "podcast":
            a.innerText = "🎙️ " + link.title;
            break;
          default:
            a.innerText = link.title;
            break;
        }
        l.append(a);
        nodes.push(l);
      });

      // A crude diff
      /*if (container.childElementCount != nodes.length) {
        resetLinks(nodes);
      } else {*/
        for (var i = 0; i < nodes.length; i++) {
          if (!nodes[i].isEqualNode(container.children[i])) {
            resetLinks(nodes);
            break;
          }
        }
      //}
    });

    function resetLinks(nodes) {
      const container = document.getElementById("links");
      container.innerHTML = "";
      nodes.forEach( function (node) { container.append(node); });
    }
  </script>
</main>
