---
title: Dani Moreno - rabbit
list_title: "Dani Moreno <br /> rabbit"
layout: project
tags:
  - project
  - story
video_url: "https://player.vimeo.com/progressive_redirect/playback/764369429/rendition/540p/file.mp4?loc=external&signature=bcaafebe28d4fd9a6d071d4532cf53ee3a078a487fa8f8a329aa3718768cabbe"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/764369429?h=bfee4b4e83" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  Dani Moreno is a Mammoth Lakes-based runner who usually is running marathons.
  This year, she took on her first 50k, OCC at UTMB. UTMB is the premiere trail
  and ultra running event in the world. It happens every year in Chamonix,
  France and has numerous race distances that run around Mont Blanc. This race
  is where elite ultra runners come to test there merit against the best. Dani
  had an excellent race, starting out controlled and slowly moving up the pack
  to take 3rd overall!  rabbit commissioned this video to highlight Dani and
  her journey at OCC.
  </p>
</div>
