---
title: Elan & David - Tale of two runners
list_title: "Elan & David <br /> Tale of two runners"
layout: project
tags:
  - project
  - story
  - race
video_url: "https://player.vimeo.com/progressive_redirect/playback/764369381/rendition/540p/file.mp4?loc=external&signature=f60e6d7fc34bf71a2550da81b0a65d55e0e2b41355df812445c9ed7d94a64370"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/764369381?h=cfd7144868" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  This is a fun video we made on a race weekend at the American River 50 mile
  race. Elan, David, and I are good friends and we decided to have a little fun
  with the content.
  </p>
</div>
