---
title: Eleanor Scholz
list_title: "Eleanor Scholz"
layout: project
date: 2021-03-21
tags:
  - project
  - story
video_url: "https://player.vimeo.com/progressive_redirect/playback/764369390/rendition/540p/file.mp4?loc=external&signature=ac57bd98f6cb5a81c4c8d08546c2a067ed1f9e5621aa2d3f2f3c49dc370df669"
photo_url: "https://i.vimeocdn.com/video/1536160440-1c08e43c4a378c72efdf2db6f071bc671e6854b19eb649b087140361792404fe-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/0e7f5981-564e-4d17-82b7-c17709498572.gif?ClientID=vimeo-core-prod&Date=1666983287&Signature=3e20d90fbd97a933657bd22d3e02b45834bc3c23"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/764369390?h=3adcaa1b0f" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  Eleanor Scholz is a artist based in San Francisco. Her medium is wood
  pyrography. She makes beautiful, intricate works inspired by Islamic
  geometric design. The music for this peice was scored by her brother, Carl
  Scholz.
  </p>
</div>
