---
title: Erika Hoagland - Western States 100
list_title: "Erika Hoagland <br /> Western States 100"
layout: project
tags:
  - project
  - story
video_url: "https://player.vimeo.com/progressive_redirect/playback/720881973/rendition/540p/file.mp4?loc=external&signature=ebf67f9ba1e4e925b31e33c26f81aa100c976f1f98706a9c9449a467f7dc01f1"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/720881973?h=d1e8c36620" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  Erika Hoagland is a Bay Area trail runner with so many great race results
  under her name.  She had to take a break from Western States 100 when she got
  pregnant. This year Western States 100 released a new policy to allow
  deferrals for pregnancies. Erika applied and got back into Western States.
  This video was commissioned by Western States 100.  Western States 100 is the
  most prestigious 100 mile trail race in North America.  It is notoriously
  hard to get into and if you miss out on racing it one year, you have to start
  building back a multi-year, multi-race comeback to get in again. Now that
  they have added pregnancy deferrals, women runners can better plan for a
  family AND run this race.
  </p>
</div>
