---
title: Jessica de Leon - The Speed Project
list_title: "Jessica de Leon <br /> The Speed Project"
layout: project
tags:
  - project
  - story
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/d5fd152a-c26f-4d18-abbd-76c1083e1b46.gif?ClientID=vimeo-core-prod&Date=1666981382&Signature=1010c53c4b3a2b64ce2abdec57d8ee4100fee2fd"
photo_url: "https://i.vimeocdn.com/video/1536143422-80cef939a8a48eda3c92c32d128faef32209bf4ca71b5ac1afa8ba9364f2624e-d"
video_url: "https://player.vimeo.com/progressive_redirect/playback/764369484/rendition/540p/file.mp4?loc=external&signature=20343fc7a864b490053f859ec88dd3c082ec84286ef736ee0b830bd3f4c106e1"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%]">
    <iframe src="https://player.vimeo.com/video/764369484?h=76e7567edc" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  Jessica de Leon has assembled a team of Bay Area runners to tackle The Speed
  Project. The Speed Project is a 300+ mile race through the desert from LA to
  Las Vegas. You can take any route as long as someone is running the whole
  time. Jessica is excited to put together a diverse team of women that aren't
  your usual participants.
  </p>

  {% render "gallery", items: projects.tsp2022, client: "The Speed Project" %}
</div>
