---
title: Jimmy Elam - rabbit
list_title: "Jimmy Elam <br /> rabbit"
layout: project
tags:
  - project
  - story
video_url: "https://player.vimeo.com/progressive_redirect/playback/764369438/rendition/540p/file.mp4?loc=external&signature=f166c9514840e1bdb791fafb22855ac777a5a1698a915bdc2f1f4691762c107b"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/764369438?h=ce9872d8f0" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  Jimmy Elam is a badass, Wasatch-based trail runner. This year, he took on the
  UTMB 100 mile race. UTMB is the premiere trail and ultra running event in the
  world. It happens every year in Chamonix, France and has numerous race
  distances that run around Mont Blanc. This race is where elite ultra runners
  come to test there merit against the best. Jimmy had an excellent race,
  starting out controlled and slowly moving up the pack to take 14th overall!
  rabbit commissioned this video to highlight Jimmy and his journey at UTMB.
  </p>
</div>
