---
title: Jimmy Elam - Altra Running
list_title: "Jimmy Elam <br /> Altra Running"
layout: project
date: 2022-10-11
tags:
  - project
  - story
video_url: "https://player.vimeo.com/progressive_redirect/playback/757711762/rendition/540p/file.mp4?loc=external&signature=c742145169aba1bea13873da64ae5e69fc4ef4e6dd6e25809c1d949e37cccd2a"
gif_url: "/gifs/Jimmy Elam x Altra Running-low.gif"
gifv_url: "/gifs/Jimmy Elam x Altra Running-low.mp4"
photo_url: "https://i.vimeocdn.com/video/1536163016-db72a04a449503269947dfdf30a3fd6d077f36643f26548fc8eaa90adc556ac2-d"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/757711762?h=6bdc1b3f99" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  Jimmy Elam is a badass, Wasatch-based trail runner. This year, he took on the
  UTMB 100 mile race. UTMB is the premiere trail and ultra running event in the
  world. It happens every year in Chamonix, France and has numerous race
  distances that run around Mont Blanc. This race is where elite ultra runners
  come to test there merit against the best. Jimmy had an excellent race,
  starting out controlled and slowly moving up the pack to take 14th overall!
  His shoe sponsor, Altra, wanted to highlight Jimmy during a sales team
  gathering as Jimmy also works there. This video highlights Jimmy's journey
  around Mont Blanc and the all the people who were there to make it happen.
  </p>
</div>
