---
title: Jorge Maravilla - allbirds
list_title: "Jorge Maravilla <br /> allbirds"
layout: project
tags:
  - project
  - story
video_url: "https://player.vimeo.com/progressive_redirect/playback/764369403/rendition/540p/file.mp4?loc=external&signature=1d1507d7474ba5c4b627cea268b6e9f1a294854936ae5b95904b26c7d180e756"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/764369403?h=aa67fdd1f2" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  Jorge Maravilla is a man of legend in the Bay Area trail running world. One
  of the builders of SFRC and the Bay Area trail running community, worked with
  allbirds and now Salomon. allbirds commissioned this reel to highlight Jorge
  and his focus on spreading community to his son.
  </p>
</div>
