---
title: José Cruz - Broken Arrow Skyrace
list_title: "José Cruz <br /> Broken Arrow Skyrace"
layout: project
tags:
  - project
  - story
video_url: "https://player.vimeo.com/progressive_redirect/playback/716968615/rendition/540p/file.mp4?loc=external&signature=8e008436e5c32b5100e76ed2d2dfc8b1ee2349e99dff821bb276655c3c216a8c"
photo_url: "https://i.vimeocdn.com/video/1536179385-2c8f32ecc2d6eb3c1fe8de569d958ea7e7224c22adadbc497b3f847577a11bcf-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/6a0ad9ee-b1da-4b32-9522-1cdc8b3492c9.gif?ClientID=vimeo-core-prod&Date=1666985151&Signature=9c580a0e64c635b599a16497c3b718d99b07c130"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/716968615?h=c4dec2b028" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  José Cruz is a good friend in the Bay Area trail running community. He's
  funny, he's fast, and he's a talented musician. He has been known to many as
  Propeller Hat Man. This video was commissioned by Broken Arrow Skyrace.
  Broken Arrow is a trail race with a 52k, 26k, VK, 11k, and other distances
  put on at Palisades Tahoe every year. They livestream some of their races and
  during the livestreams they highlight awesome community members. This is a
  highlight video of José as he takes over and race directs his local Mt
  Madonna Challenge where proceeds go toward sending local kids to a running
  camp with Max King.
  </p>
</div>
