---
title: Michael Li - Broken Arrow Skyrace
list_title: "Michael Li <br /> Broken Arrow Skyrace"
layout: project
tags:
  - project
  - story
video_url: "https://player.vimeo.com/progressive_redirect/playback/716969745/rendition/540p/file.mp4?loc=external&signature=fcd96845cd18611a249cae13e8a28b49bb4a5029cf7e0b75e071a3bb12fee387"
photo_url: "https://i.vimeocdn.com/video/1536177527-77ac69a7a2100381d948d172fd81f8c15e80d865936a0b1b2f5ab02f8d8d52af-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/9e75458d-cc37-4d6a-98ca-0339de3c71bd.gif?ClientID=vimeo-core-prod&Date=1666984980&Signature=452d8fb1cb79d8315b4c38192940f6abbd7176c4"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/716969745?h=304e47114b" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  Michael Li is a Bay Area trail runner and has taken on some of the toughest
  challenges you could imagine. Having done a multi-day, 200 miles of 6.5mi
  repeats up and down the local Mt Tam, he thought, what's next. You guessed
  it, 300 miles on the same route. Michael is community to his core and loves
  inspiring anyone to take on their next challenge. This video was commissioned
  by Broken Arrow Skyrace. Broken Arrow is a trail race with a 52k, 26k, VK,
  11k, and other distances put on at Palisades Tahoe every year. They
  livestream some of their races and during the livestreams they highlight
  awesome community members. This is a highlight video of Michael and his
  personal project called "The Final Mile".
  </p>
</div>
