---
title: Tara Dower at Hardrock
list_title: "Tara Dower<br />Altra Running"
layout: project
date: 2024-07-13
tags:
  - project
  - story
  - race
  - highlight
video_url: "https://player.vimeo.com/progressive_redirect/playback/1030945417/rendition/540p/file.mp4?loc=external&log_user=0&signature=010e2354f2b91fdf6756749172cdf4e5d53c00656d40ff719d428ddcb70ff481"
photo_url: "https://i.vimeocdn.com/video/1951584676-bc596a28e0d66a50f291e5edc267ed48e35a400624ccbcc3193f784c3b5aad22-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/2a9401dd-43cf-46a4-b5b5-281fcb53ba33.gif?ClientID=sulu&Date=1731974831&Signature=c4054414310964d921cc5839df82693d41f8ab39"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/1030945417?h=0eff3eee3f" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  </p>
</div>
