---
title: The Trail Team
list_title: "The Trail Team"
layout: project
date: 2023-03-20
tags:
  - project
  - story
photo_url: "https://i.vimeocdn.com/video/1680444348-21d6aecacf1de6f11e556f2e7c5d89b49a188b68c26fc6431800b80e99307188-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/d2993d45-6840-4ea0-a875-22190531c7a5.gif?ClientID=vimeo-core-prod&Date=1686091955&Signature=6f99071e0eb19a14a213f744732e62254d88dc60"
video_url: "https://player.vimeo.com/progressive_redirect/playback/833849100/rendition/540p/file.mp4?loc=external&signature=9ef86ccc0b0b159d4c4375afc3fa5af98ee45297c1afd6a0bf12ba95abce71e8"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%] mb-8">
    <iframe src="https://player.vimeo.com/video/833849100?h=da7b28744b" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%] mb-8">
    <iframe src="https://player.vimeo.com/video/828444788?h=b7e6cb206b" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  {% render "gallery", items: projects.tttboulder, client: "The Trail Team" %}
</div>

