---
title: Tianna Madison - Survive and Advance
list_title: "Tianna Madison <br /> Survive and Advance"
layout: project
date: 2021-03-17
tags:
  - project
  - story
video_url: "https://player.vimeo.com/progressive_redirect/playback/764369449/rendition/540p/file.mp4?loc=external&signature=a072ced965f8484873f68d13a41857656882ba8c3efa8cac2d2532909bd28186"
photo_url: "https://i.vimeocdn.com/video/1534888756-5ba833aa949ed1b3d4e66d0c0ef76ac0306541eadb44cd25bef8c3ddb1912188-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/07cdb211-b7bf-46a3-8e23-e1e49d4404ca.gif?ClientID=vimeo-core-prod&Date=1666982318&Signature=ce8d8e64aeb516d7abff35f1fa288e310f19af15"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/764369449?h=db9e0f36eb" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  Tianna Madison is a world record achieving, olympic sprinter. She had quite
  the journey with her achievment and wrote a book to tell her story. This is a
  hype trailer for her book.
  </p>
</div>
