---
title: We Run Long Camp with Altra
list_title: "We Run Long Camp<br />Altra Running"
layout: project
date: 2024-09-28
tags:
  - project
  - story
  - highlight
video_url: "https://player.vimeo.com/progressive_redirect/playback/1015373434/rendition/540p/file.mp4?loc=external&log_user=0&signature=98f848f549dd45ab6eb0c19241889b724e77cbe0c7b26e6e38ff72f77d50ef5b"
photo_url: "https://i.vimeocdn.com/video/1933987999-4973c9f937f5d6d5ecdeb7fa7d6f22b8211c3cd1cba139f0eef2e02fe4391d23-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/b1f140a9-755a-4857-8dbf-66bb41ac22d0.gif?ClientID=sulu&Date=1731973941&Signature=285aec2399cd84cef35a21907367a55a873b7a1b"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/1015373434?h=23e1449a1a" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  We Run Long and Altra Running team up to create a VIP camp experience for often overlooked BIPOC runners. The weekend is hosted in Colorado surrounding the West Line Winder 30k and 50k. The weekend is full of community and emotion as runners experience for the first time, what it's like to be with community and to be seen in the sport they love so dearly.
  </p>
</div>
