<h2 class="text-5xl my-10 font-sans italic text-center text-white">Let's work together!</h2>
<form class="flex flex-col w-full max-w-4xl mx-auto" name="contact" method="POST" data-netlify="true" action="/thanks" netlify-honeypot="human-field">
  <div class="flex w-full flex-col">
    <input class="mb-4 bg-gray-100 py-3 px-4 rounded placeholder-gray-500 outline-none focus:ring-2" name="name" id="name" type="text" placeholder="Name" required></input>
    <input class="mb-4 bg-gray-100 py-3 px-4 rounded placeholder-gray-500 outline-none focus:ring-2" name="email" id="email" type="email" placeholder="Email" required></input>
  </div>
  <div class="opacity-0 absolute -top-5">
    <input name="human-field" id="human-field" type="text"></input>
  </div>
  <textarea class="py-3 px-4 appearance-none rounded bg-gray-100 placeholder-gray-500 outline-none focus:ring-2" name="message" id="message" placeholder="How can we work together?" rows="6" required></textarea>
  <input class="mt-4 rounded px-6 py-2 self-end bg-blue-500 hover:bg-blue-400 focus:bg-blue-600 outline-none text-white cursor-pointer" type="submit" id="submit" value="Send Message"></input>
</form>
