<footer class="mt-4 sm:mx-6 mx-2">
  <hr />
  <div class="flex justify-between my-4">
    <div class="flex text-sm text-gray-500 content-center inline-block">
      <div class="italic text-xs contents">
        &copy; Anthony DiPasquale.
      </div>
      &nbsp;-&nbsp;
      <a class="hover:text-black text-xs contents" href="/sitemap">Sitemap</a>
    </div>
    <nav class="flex">
      <a href="https://instagram.com/tonywithasony" target="_blank" rel="noopener noreferrer" class="mr-4">
        {% include instagram.html %}
      </a>
      <a href="https://www.youtube.com/channel/UCK3p2i4UGHt1zWFGRh8qmUw" target="_blank" rel="noopener noreferrer">
        {% include youtube.html %}
      </a>
    </nav>
  </div>
</footer>
