<footer class="pb-2 pl-4 absolute bottom-0 left-0">
  <a class="hover:text-white text-xs contents" href="/sitemap">Sitemap</a>
</footer>

<script defer src="/js/colcade.js"></script>
<script defer src="/js/index.js"></script>
