---
layout: default
---

<header class="px-6">
  {% render "nav", color: "black", class: "sm:h-8 h-6", collections: collections %}
</header>

<section class="flex items-center flex-col w-full mb-10">
  {{ content }}
</section>
