<head>
  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  {% render "seo" %}
  {% render "icons" %}
  <link rel="canonical" href="{{ page.url }}">

  <style>
    {% render "_site/css/main.css" %}
  </style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Merriweather:ital@0;1&family=Permanent+Marker&display=swap" rel="stylesheet">

  <script>(function(d){var s = d.createElement("script");s.setAttribute("data-position", 3);s.setAttribute("data-account", "5gJAZzB5UT");s.setAttribute("src", "https://accessibilityserver.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://accessibilityserver.org">website accessibility</a></noscript>
</head>
