<header class="lg:px-6 px-6 flex flex-col lg:justify-start justify-between items-start py-5 w-full lg:w-auto">
  <div class="my-4">
    <a href="/">
      {% render "title" %}
    </a>
  </div>
  <button on="tap:menubar.toggle" class="lg:hidden sm:mr-10 sm:mt-6 mr-6 mt-2 block text-3xl absolute right-0 text-white">☰</button>

  <div id="menu-display" class="lg:flex hidden flex-1 w-auto" id="menu">
  </div>
</header>

<amp-sidebar id="menubar" layout="nodisplay" side="right" class="py-6 px-8 flex flex-col items-end lg:hidden">
  <button class="text-xl flex" on="tap:menubar.close">&#x2715;</button>
  <nav toolbar="(min-width: 784px)" toolbar-target="menu-display" class="w-full h-full">
    <ul class="flex flex-col lg:text-left text-right md:text-7xl sm:text-5xl text-3xl font-normal uppercase text-gray-300 pt-4 lg:pt-0 tracking-wider">
      <li>
        <a class="lg:pt-5 py-3 lg:pr-4 block transition-transform hover:translate-x-4 bg-clip-text bg-gradient-to-r text-fill-transparent from-yellow to-blue{% if page.url == '/films/' %} text-white{% endif %}" href="/films">
          Adventures
        </a>
      </li>
      <li>
        <a class="lg:pt-5 py-3 block transition-transform hover:translate-x-4 bg-clip-text bg-gradient-to-r text-fill-transparent from-pink to-yellow{% if page.url == '/films/' %} text-black{% endif %}" href="/films" style="background-size: 50%">
          Races
        </a>
      </li>
      <li>
        <a class="lg:pt-5 py-3 block transition-transform hover:translate-x-4 bg-clip-text bg-gradient-to-r text-fill-transparent from-blue to-purple{% if page.url == '/posts/' %} text-black{% endif %}" href="/posts" style="background-size: 65%">
          Humans
        </a>
      </li>
      <li>
        <a class="lg:pt-5 py-3 block transition-transform hover:translate-x-4 bg-clip-text bg-gradient-to-r text-fill-transparent from-purple to-orange{% if page.url == '/about/'%} text-black{% endif %}" href="/about" style="background-size: 50%">
          About
        </a>
      </li>
      <li>
        <nav class="flex text-right lg:justify-start justify-end">
          <a href="https://instagram.com/tonywithasony" target="_blank" rel="noopener noreferrer" class="mr-4 flex">
            <amp-img src="/images/Instagram.png" width="24" height="24" layout="fixed"></amp-img>
          </a>
          <a href="https://www.youtube.com/channel/UCK3p2i4UGHt1zWFGRh8qmUw" target="_blank" rel="noopener noreferrer" class="flex">
            <amp-img src="/images/yt_icon_rgb.png" width="34" height="24" layout="fixed"></amp-img>
          </a>
        </nav>
      </li>
    </ul>
  </nav>
</amp-sidebar>
