<head>
  <title>{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% render "seo", page: page, site: site, title: title, description: description, url: url, date: date, photo_url: photo_url %}
  {% render "icons" %}
  <link rel="canonical" href="{{ page.url | absolute_url }}" />

  <link rel="stylesheet" type="text/css" href="/css/main.css" />

  <link rel="preload" href="/fonts/LatoLatin-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/LatoLatin-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/LatoLatin-BoldItalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/LatoLatin-Italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/LatoLatin-Black.woff2" as="font" type="font/woff2" crossorigin>

  <script data-goatcounter="https://tonywithasony.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  <script defer src="/js/imagesloaded.pkgd.min.js"></script>
  <script defer src="/js/colcade.js"></script>
  <script defer src="/js/index.js"></script>
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <script>(function(d){var s = d.createElement("script");s.setAttribute("data-position", 3);s.setAttribute("data-account", "5gJAZzB5UT");s.setAttribute("src", "https://accessibilityserver.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://accessibilityserver.org">website accessibility</a></noscript>
</head>
