---
title: Allbirds - Trail Runners
list_title: "allbirds <br /> Trail Runners"
layout: project
date: 2021-09-20
tags:
  - project
  - lifestyle
photo_url: "https://ik.imagekit.io/tony/lightroom/allbirdstrailrunners/_DSC9375_M4Y7hdZh1.jpg"
---

<div class="flex flex-col items-center mx-5">
  <p class="my-8 text-lg">
  Allbirds released their first trail runner shoe and wanted to showcase some
  of their ambassadors wearing the new shoes.
  </p>

  {% render "gallery", items: projects.allbirdstrailrunners, client: "allbirds" %}
</div>
