---
title: Anh Bui - Run Resiliently
list_title: "Anh Bui <br /> Run Resiliently"
layout: project
date: 2022-01-26
tags:
  - project
  - story
video_url: "https://player.vimeo.com/progressive_redirect/playback/751023350/rendition/540p/file.mp4?loc=external&signature=b0defd78a71c39227ff5abc55b109c839fb536f22ed14cf741fee754186c99fb"
photo_url: "https://i.vimeocdn.com/video/1509977688-449d5adfd5ac8327aa1873e89e6bd7b5eb9327fd567c8c0816af6e8a7b85de4d-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/3c676f65-2510-4d48-818e-e326098457eb.gif?ClientID=vimeo-core-prod&Date=1666985239&Signature=6cad60b348d16ac464b6d48a7a8d168867c0f108"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/751023350?h=8ec66788cf" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  Anh Bui is a runner and physical therapist based in the Bay Area. She reached
  out looking to capture updated photos for her business website and social media.
  One of her clients, Paddy O'Leary, is a close friend so we popped over to her
  office in Renegade Running to photograph the various services she provides to
  her clients. While taking the photos, I captured a few video clips too so I
  could make this auto-playing website background opener.
  </p>

  {% render "gallery", items: projects.anhbui, client: "Anh Bui" %}
</div>
