---
title: Equator Coffees - Endless Summer
list_title: "Equator Coffees <br /> Endless Summer"
layout: project
tags:
  - project
  - lifestyle
photo_url: "https://ik.imagekit.io/tony/lightroom/equatorcoffeesendlesssummer/DSC05643_O-IXe6O9U.jpg"
---

<div class="flex flex-col items-center mx-5">
  <p class="my-8 text-lg">
  Equator Coffees was designing a campaign around a new coffee blend, Endless
  Summer. The concept was a group a friends meeting up for coffee at an Equator
  location, then heading off to do their individual activity, and finally
  coming back together to enjoy sunset at the beach.
  </p>

  {% render "gallery", items: projects.equatorcoffeesendlesssummer, client: "Equator Coffees" %}
</div>
