---
title: GU Athlete Camp 2025
list_title: "GU Athlete Camp"
layout: project
date: 2025-04-08
tags:
  - project
  - lifestyle
  - highlight
video_url: "https://player.vimeo.com/progressive_redirect/playback/1074494209/rendition/540p/file.mp4?loc=external&log_user=0&signature=0c57ee845158e3a0709aa9e292255b0d7be989727d366f78658a65c15682e371"
photo_url: "https://i.vimeocdn.com/video/2003855570-03350a3476516b351021e40cdf8ca04aed887d0d1b4373aeb4483b04ead3ac9c-d"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%]">
    <iframe src="https://player.vimeo.com/video/1074494209?h=3e3971e056" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

