---
title: GU Energy Ads
list_title: "GU Energy Ads"
layout: project
date: 2025-01-01
tags:
  - project
  - lifestyle
  - highlight
video_url: "https://player.vimeo.com/progressive_redirect/playback/1078688890/rendition/540p/file.mp4?loc=external&log_user=0&signature=11b4f8591713378569ddd49296ba3adf3ae963889ca2c86ed8351dc41ae8dfc8"
photo_url: "https://i.vimeocdn.com/video/2058001737-5822a698384e12249825e5e63c7b0594e79adbd7aacc8e02276031c32646b54f-d"
---

<p class="mt-10 md:text-2xl text-xl md:text-left text-center md:mx-0 mx-5">
  Partnering with GU Energy over many projects, we've created race day stories
  to campaign ads. Here are four different projects and some of the Ads that
  came from them. The deliverables for these projects also included 1x1, 4x5,
  and 16x9 cuts as well as shorted product highlights with animated text and
  video more focused on the product packaging. With each project though, there
  was a main video which is what is highlighted below.
</p>
<div class="flex flex-col items-center mx-5 mt-10">
  <div class="flex md:flex-row flex-col items-start w-full">
    <div class="w-full relative md:flex-1 flex-none h-[626px] flex md:justify-end justify-center md:mr-6 mr-0">
      <iframe src="https://player.vimeo.com/video/1078688890?h=c4878bc04b" class="w-full h-full max-w-[56.25vh]" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="w-full relative flex-1 md:ml-6 ml-0 md:mt-0 mt-5">
      <h3 class="text-3xl font-bold">Roctane</h3>
      <p class="mt-2">
        The Roctane project's intent was to highlight the Roctane Gel. This
        product is meant for pushing to and beyond your limits so we wanted a
        video that exemplified that. This was filmed in Tuscon during a GU
        Athlete Summit. The goal was intensity. Fast cuts, intense music, and
        having the athletes moving hard. We didn't have a lot of time or ideal
        weather conditions so we made due and got all the filming done within a
        couple hours. 
      </p>
    </div>
  </div>
  <div class="flex md:flex-row flex-col items-start w-full mt-10">
    <div class="w-full relative md:flex-1 flex-none h-[626px] flex md:justify-end justify-center md:mr-6 mr-0">
      <iframe src="https://player.vimeo.com/video/1066036336?h=c19df41b30" class="w-full h-full max-w-[56.25vh]" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="w-full relative flex-1 md:ml-6 ml-0 md:mt-0 mt-5">
      <h3 class="text-3xl font-bold">Pace the Rainbow</h3>
      <p class="mt-2">
        Pace the Rainbow was a project to highlight the new multicolored wave
        branding on the GU packaging as well as show it's multi-sport use
        cases. We were highlighting the non-Roctane chews and gels so intensity
        wasn't the focus. Instead, we wanted to show casual activities with
        friends. And of course the highlight was this transition from before
        eating the product to after where the wave graphic comes in.
      </p>
    </div>
  </div>
  <div class="flex md:flex-row flex-col items-start w-full mt-10">
    <div class="w-full relative md:flex-1 flex-none h-[626px] flex md:justify-end justify-center md:mr-6 mr-0">
      <iframe src="https://player.vimeo.com/video/1021148029?h=8da52ed0ff" class="w-full h-full max-w-[56.25vh]" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="w-full relative flex-1 md:ml-6 ml-0 md:mt-0 mt-5">
      <h3 class="text-3xl font-bold">Roctane Drink Mix</h3>
      <p class="mt-2">
        This ad highlighted the Roctane drink mix so like the Roctane video
        above, we wanted high intensity. Since this is a drink, we wanted to
        show an activity where you might have the drink ready while you're
        going hard. Of course, the track came to mind.
      </p>
    </div>
  </div>
  <div class="flex md:flex-row flex-col items-start w-full mt-10">
    <div class="w-full relative md:flex-1 flex-none h-[626px] flex md:justify-end justify-center md:mr-6 mr-0">
      <iframe src="https://player.vimeo.com/video/954107947?h=beb3544055" class="w-full h-full max-w-[56.25vh]" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="w-full relative flex-1 md:ml-6 ml-0 md:mt-0 mt-5">
      <h3 class="text-3xl font-bold">Multisport</h3>
      <p class="mt-2">
        The first of our ad work together, we wanted to show the mutli-sport
        use case of GU Energy. Showing activities with friends and how GU
        products keep you fueled to go further. This project was particularly
        fun as I got to film a bunch of different sports and work with many new
        folks. The wheelchair rider was a highlight while also filming pickup
        basketball in the park was also a joy.
      </p>
    </div>
  </div>
</div>

