---
title: GU Energy Ads
list_title: "GU Energy Ads"
layout: project
date: 2025-01-01
tags:
  - project
  - lifestyle
  - highlight
video_url: "https://player.vimeo.com/progressive_redirect/playback/1078688890/rendition/540p/file.mp4?loc=external&log_user=0&signature=11b4f8591713378569ddd49296ba3adf3ae963889ca2c86ed8351dc41ae8dfc8"
photo_url: "https://i.vimeocdn.com/video/2058001737-5822a698384e12249825e5e63c7b0594e79adbd7aacc8e02276031c32646b54f-d"
---

<div class="flex flex-row items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%]">
    <iframe src="https://player.vimeo.com/video/1078688890?h=c4878bc04b" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%]">
    <iframe src="https://player.vimeo.com/video/1066036336?h=c19df41b30" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%]">
    <iframe src="https://player.vimeo.com/video/1021148029?h=8da52ed0ff" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%]">
    <iframe src="https://player.vimeo.com/video/954107947?h=beb3544055" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

