---
title: HOKA - Stinson 7
list_title: "HOKA <br /> Stinson 7"
layout: project
date: 2023-09-15
tags:
  - project
  - highlight
  - lifestyle
video_url: "https://player.vimeo.com/progressive_redirect/playback/863840426/rendition/540p/file.mp4?loc=external&log_user=0&signature=244f9ae1e6bf071927d43ff75926a17e1e5ac56847123fae7278ff3fd6bd50ca"
photo_url: "https://i.vimeocdn.com/video/1724599350-58687f781e739607c64a488b71466302b4cc46ac6b697299600291ebe6800d0d-d"
gif_url: "/gifs/HOKA Stinson 7-low.gif"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%] mb-8">
    <iframe src="https://player.vimeo.com/video/863840426?h=81c7648f23" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
