---
title: Paddy O'Leary - The North Face
list_title: "Paddy O'Leary <br /> The North Face"
layout: project
tags:
  - project
  - lifestyle
photo_url: "https://ik.imagekit.io/tony/lightroom/paddytnfjacket/_DSC2792_cyQMIadiS.jpg"
---

<div class="flex flex-col items-center mx-5">
  {% render "gallery", items: projects.paddytnfjacket, client: "The North Face" %}
</div>
