---
title: rabbit - EZ Fall 2022
list_title: "rabbit <br /> EZ Fall 2022"
layout: project
date: 2022-09-05
tags:
  - project
  - lifestyle
video_url: "https://ik.imagekit.io/tony/lightroom/rabbitezfall/Mixed_Desktop_tmwOrPEVU.mp4?ik-sdk-version=javascript-1.4.3&updatedAt=1666898911148"
photo_url: "https://ik.imagekit.io/tony/lightroom/rabbitezfall/_DSC0401_ReUkS1BdT.jpg?tr=w-800"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/c06c8bbb-af73-4cdc-bb30-7f670a8478ee.gif?ClientID=vimeo-core-prod&Date=1666986765&Signature=80c381fdcea0cb8024e9326291819ecb08a112a6"
---

<div class="flex flex-col items-center mx-5">
  {% render "gallery", items: projects.rabbitezfall, client: "rabbit" %}
</div>
