---
title: rabbit - Black Canyon
list_title: "rabbit <br /> Black Canyon"
layout: project
tags:
  - project
  - lifestyle
  - race
photo_url: "https://ik.imagekit.io/tony/lightroom/rabbitblackcanyon/_DSC1883_s7c7T1gOl.jpg"
---

<div class="flex flex-col items-center mx-5">
  <p class="my-8 text-lg">
  rabbit was looking to try something different. There were two athletes
  running Black Canyon 100k and instead of the typical lifestyle photoshoot
  that is manicured they sent me to capture these athletes using the gear in
  real time. The athletes are Elan Lieber and Rachel Spaulding.
  </p>

  {% render "gallery", items: projects.rabbitblackcanyon, client: "rabbit" %}
</div>
