---
title: rabbit - EZ Fall 2022
list_title: "rabbit <br /> EZ Fall 2022"
layout: project
tags:
  - project
  - lifestyle
video_url: "https://ik.imagekit.io/tony/lightroom/rabbitezfall/Mixed_Desktop_tmwOrPEVU.mp4?ik-sdk-version=javascript-1.4.3&updatedAt=1666898911148"
---

<div class="flex flex-col items-center mx-5">
  <p class="my-8 text-lg">
  rabbit reached out needing photos and short video clips for their Fall
  collection of the EZ line. This was a last minute notice so I sourced the
  talent, identified a location, and coordinated everyone to deliver everything
  they needed on time.
  </p>

  {% render "gallery", items: projects.rabbitezfall, client: "rabbit" %}
</div>
