---
title: rabbit - Love All
list_title: "rabbit <br /> Love All"
layout: project
date: 2022-05-27
tags:
  - project
  - lifestyle
video_url: "https://player.vimeo.com/progressive_redirect/playback/716606031/rendition/540p/file.mp4?loc=external&signature=cb334e6e40167b6861c9ec5f325449b69c938de9b897e734a0d502a30895a8fe"
photo_url: "https://i.vimeocdn.com/video/1536169723-97ccfbcaaa3eac3602c16325f1d89f03e1662bf3cc45e8f0d6fa0012aa29cbf5-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/f18efa1d-0d18-4447-acaf-2dc16635959e.gif?ClientID=vimeo-core-prod&Date=1666984330&Signature=9e098edf6a8f27e119fb5b6f16cd91ac9c0c51e2"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%]">
    <iframe src="https://player.vimeo.com/video/716606031?h=2348bdbd15" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  rabbit reached out needing photos and a short video of an athlete, Drew
  Miller, wearing the LOVE ALL collection. Drew was in town and so we met up to
  capture running content during a lovely sunset.
  </p>

  {% render "gallery", items: projects.rabbitloveall, client: "rabbit" %}
</div>
