---
title: GS:OAK - Speedland
list_title: "GS:OAK <br /> Speedland"
layout: project
date: 2023-11-15
tags:
  - project
  - lifestyle
  - highlight
video_url: "https://player.vimeo.com/progressive_redirect/playback/883369665/rendition/720p/file.mp4?loc=external&log_user=0&signature=ec9f33a4fae0c7a538f1897dc6cdeb77f03beeb375adbebf483bad0c21dbc252"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/65a569e5-567f-4d0a-bd51-3b6847e090bc.gif?ClientID=vimeo-core-prod&Date=1701191540&Signature=46b858fafd3f0ca13840f956ed1b77e2fa8c9c82"
photo_url: "https://i.vimeocdn.com/video/1751849138-59b40ab523c18b7f4aa4f3cfcf634fe61ab3fcd286765ff8169e7f98dd4e854d-d"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%]">
    <iframe src="https://player.vimeo.com/video/883369665?h=f8f88fdb1c" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  Introducing the newest shoe from Speedland, GS:OAK. This shoe is the latest
  color way in the GS series featuring a purple to pink gradient on black. This
  has become one of the most popular color ways Speedland has released. This
  shoe is modeled after Liam Lonsdale, an Oakland resident who loves his city
  and the amazing natural and urban areas it offers for running. I
  collaborated with Liam to bring this creative vision to life. The funky video
  edits pays homage to Liam and the shoe itself, personifying his personality.
  </p>
</div>
