---
title: Tianna Madison - InsideTracker
list_title: "Tianna Madison <br /> InsideTracker"
layout: project
date: 2021-08-03
tags:
  - project
  - story
  - lifestyle
video_url: "https://player.vimeo.com/progressive_redirect/playback/764369467/rendition/540p/file.mp4?loc=external&signature=31956d8edd84a6f9a3675816191a3ad576c48f2a05fca6ed38dfa0471e7ef8cd"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/7beb02ed-52a0-47ae-88ef-e8c043495790.gif?ClientID=vimeo-core-prod&Date=1666981632&Signature=9461968c39436536dd859c7e40f8b2850038d84d"
photo_url: "https://i.vimeocdn.com/video/1536145588-2bb92b96205d635ad4c5204944647c18d4b96dfde9292586b7422ef352e2a3ee-d"
---

<div class="flex flex-col items-center mx-5">
  <p class="my-8 text-lg">
  A 3 video series introducing Tianna Madison as a new InsideTracker athlete and how she uses InsideTracker to stay at peak performance and plan for the long term.
  </p>

  <div class="w-full relative pt-[56.25%] mb-8">
    <iframe src="https://player.vimeo.com/video/764369467?h=79de9c3cae" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="w-full relative pt-[56.25%] mb-8">
    <iframe src="https://player.vimeo.com/video/764369454?h=411a05c027" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/764369463?h=cbbdebf2a3" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
