---
title: Tianna Madison - Mueller
list_title: "Tianna Madison <br /> Mueller"
layout: project
date: 2021-07-23
tags:
  - project
  - story
  - lifestyle
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/fcf96822-1df3-4680-b5a6-fe21df2f30f4.gif?ClientID=vimeo-core-prod&Date=1666981508&Signature=6a4ba3b85b84a2acffc9ea05c18caecaba9ce213"
photo_url: "https://i.vimeocdn.com/video/1536144848-94f2b688d45c98f9795b9c15dcca44eb600b23404da249b37b7aa28b4d354809-d"
video_url: "https://player.vimeo.com/progressive_redirect/playback/764369480/rendition/540p/file.mp4?loc=external&signature=b10cf8c147c7f87ae50c3b2fa9f58febff728e701752c29c6fd44fe8e7b314f6"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/764369480?h=a741f7dc61" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
