---
title: Tianna Madison - InsideTracker
list_title: "Tianna Madison <br /> InsideTracker"
layout: project
tags:
  - project
  - story
  - lifestyle
video_url: "https://player.vimeo.com/progressive_redirect/playback/764369467/rendition/540p/file.mp4?loc=external&signature=31956d8edd84a6f9a3675816191a3ad576c48f2a05fca6ed38dfa0471e7ef8cd"
---

<div class="flex flex-col items-center mx-5">
  <p class="my-8 text-lg">
  A 3 video series introducing Tianna Madison as a new InsideTracker athlete and how she uses InsideTracker to stay at peak performance and plan for the long term.
  </p>

  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/764369467?h=79de9c3cae" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/764369454?h=411a05c027" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/764369463?h=cbbdebf2a3" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
