@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./imports/_films.css";
@import "./imports/_post.css";

/* Webfont: LatoLatin-Black */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('/fonts/LatoLatin-Black.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

/* Webfont: LatoLatin-Bold */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('/fonts/LatoLatin-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

/* Webfont: LatoLatin-BoldItalic */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('/fonts/LatoLatin-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Italic */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('/fonts/LatoLatin-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

/* Webfont: LatoLatin-Regular */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('/fonts/LatoLatin-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@layer base {
  html {
    @apply font-sans;
  }
}

/* .project-video { */
/*   height: 200px; */
/* } */
/*  */
/* .project-video > div:first-child { */
/*   transition-delay: 0s; */
/*   transition-property: top, height; */
/*   transition-timing-function: ease; */
/*   transition-duration: .5s; */
/*   z-index: -10; */
/*   top: 0; */
/*   height: 200px; */
/* } */
/*  */
/* .open-full h3 { */
/*   transition-property: opacity; */
/*   transition-timing-function: ease; */
/*   transition-duration: 1s; */
/*   opacity: 0; */
/* } */
/*  */
/* .open-full > div:first-child { */
/*   transition-delay: 0s; */
/*   transition-timing-function: ease-in; */
/*   transition-duration: 5s; */
/*   height: 100vh; */
/*   top: 0; */
/* } */
/*  */
video.header {
  height: 100vh;
  min-width: 100vw;
  object-fit: cover;
}

video.video-item {
  height: auto;
  min-width: 0;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.invert {
  filter: invert(100%);
}

.bg-fade {
  background-image: linear-gradient(to top, #0005 5%, #0000 15%);
}
