<!doctype html>
<html lang="en">
  {% render "head", page: page, site: site, title: title, url: url, date: date, description: description, photo_url: photo_url %}
  <body class="relative">
    {{ content }}
  </body>
</html>
