<!doctype html>
<html lang="en">
  {% include head.html %}

  <body>
    <main class="min-h-screen flex flex-col">
      {% include header.html %}

      {{ content }}

      {% include footer.html %}
    </main>
  </body>
</html>
