<!doctype html>
<html lang="en">
  {% render "head" %}
  <body>
    <main class="min-h-screen flex lg:flex-row flex-col lg:justify-between justify-start">
      {% render "header" %}
      {{ content }}
    </main>
    {% render "footer" %}
  </body>
</html>
