<!doctype html>
<html lang="en">
  {% render "head" %}
  <body class="relative">
    <main class="min-h-screen flex flex-col">
      {{ content }}
    </main>
    {% render "footer" %}
  </body>
</html>
