---
layout: default
---

<header class="lg:px-6 px-6 flex flex-col justify-between items-start py-5 w-full lg:w-auto h-screen bg-black/40">
  {% render "nav", color: "white", collections: collections %}

  <div class="flex flex-1 justify-center items-center w-full">
    <div class="lg:p-10 px-4 lg:w-3/4 w-full">
      <h1 class="md:text-8xl text-3xl text-slate-100 tracking-wider leading-snug font-sans font-bold italic text-center animate-appear-quicker opacity-0">
        {{ title }}
      </h1>
    </div>
  </div>
</header>

<div class="overflow-hidden h-screen w-screen absolute -z-10 flex items-center">
  <div class="flex items-center overflow-hidden">
    <video class="header" autoplay muted loop playsinline src="{{ video_url }}"></video>
  </div>
</div>

{{ content }}
