---
layout: default
---

<header class="px-6">
  {% render "nav", color: "black", class: "sm:h-8 h-6", collections: collections %}
</header>

<section class="flex items-center flex-col w-full mb-10">
  <header class="mt-5 sm:w-11/12 sm:mx-0 w-full px-2">
    <div class="lg:text-left text-center">
      <h1 class="lg:text-8xl md:text-5xl sm:text-4xl text-2xl tracking-wide font-display italic">{{ title | escape }}</h1>
    </div>
  </header>
  <div class="2xl:w-8/12 sm:w-11/12 sm:mx-0 w-full mx-2 mt-4">
    {{ content }}
  </div>
</section>
