---
title: allbirds - Moonlit 5k
list_title: "allbirds <br /> Moonlit 5k"
layout: project
date: 2022-10-26
tags:
  - project
  - lifestyle
  - race
photo_url: "https://ik.imagekit.io/tony/lightroom/allbirdsmoonlit5k/_DSC2856_a94A15HC8.jpg"
---

<div class="flex flex-col items-center mx-5">
  {% render "gallery", items: projects.allbirdsmoonlit5k, client: "Allbirds" %}
</div>
