---
title: Canyons 2025
list_title: "Canyons 2025<br />HOKA"
layout: project
date: 2025-04-26
tags:
  - project
  - race
  - highlight
video_url: "https://player.vimeo.com/progressive_redirect/playback/1078399770/rendition/540p/file.mp4?loc=external&log_user=0&signature=86b6c46528b488f2c011052f8d7cb5f2326b60fab868c1c8ae87f69208b38081"
photo_url: "https://i.vimeocdn.com/video/2057986289-046a6a500772d3e6db2a5c828970b332978f8cc67c771e83509dbb638043faa1-d"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%]">
    <iframe src="https://player.vimeo.com/video/1078399770?h=70e03fc842" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
