---
title: Canyons Endurance Runs - HOKA
list_title: "Canyons Endurance Runs <br/> HOKA"
layout: project
date: 2023-04-28
tags:
  - project
  - race
photo_url: "https://i.vimeocdn.com/video/1680454896-66b34ff0af2d882d7b3c39a1cdb984122812d8278b58c0491ec38e1a6460f284-d"
gif_url: "/gifs/Cole Watson Canyons 100k Win-low.gif"
gifv_url: "/gifs/Cole Watson Canyons 100k Win-low.mp4"
video_url: "https://player.vimeo.com/progressive_redirect/playback/833853485/rendition/540p/file.mp4?loc=external&signature=271b230ea62de955855de261f87414504387de48175d823009040a50b9156465"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%] mb-8">
    <iframe src="https://player.vimeo.com/video/833853485?h=ae874a4aab" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  {% render "gallery", items: projects.canyonshoka, client: "Canyons Endurance Runs - HOKA ONE ONE" %}
</div>

