---
title: CJ Albertson - Brooks Running
list_title: "CJ Albertson <br /> Brooks Running"
layout: project
tags:
  - project
  - story
  - race
photo_url: "https://ik.imagekit.io/tony/lightroom/cjalbertsonbrooks/_DSC1305_kqkDehuNt.jpg"
---

<div class="flex flex-col items-center mx-5">
  <p class="my-8 text-lg">
  CJ Albertson takes the 50k world record at a local race in San Francisco.
  Brooks Running, his sponsor, wanted photos and video clips to highlight his
  accomplishment.
  </p>

  {% render "gallery", items: projects.cjalbertsonbrooks, client: "Brooks Running" %}
</div>
