---
title: Dipsea
list_title: "Dipsea"
layout: project
date: 2022-06-12
tags:
  - project
  - race
photo_url: "https://ik.imagekit.io/tony/lightroom/dipsea/_DSC0331_3k20LJJ0Z.jpg"
---

<div class="flex flex-col items-center mx-5">
  {% render "gallery", items: projects.dipsea, client: "Dipsea" %}
</div>
