---
title: Knockaround - Bay to Breakers
list_title: "Knockaround <br /> Bay to Breakers"
layout: project
date: 2022-06-03
tags:
  - project
  - race
video_url: "https://player.vimeo.com/progressive_redirect/playback/711860578/rendition/540p/file.mp4?loc=external&signature=1d9350644b76b86436ea15aed946e75fe0489fcd9dd72a195a17e811cd4a0002"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/cab7ed2e-e854-4bd8-80e1-ec76e2095136.gif?ClientID=vimeo-core-prod&Date=1666985549&Signature=08312edb50db0b4181091562c07465f4bbc1cc77"
photo_url: "https://i.vimeocdn.com/video/1536167444-654104e666523db4e670f2ec24df7be4316c344488693011abf963b453865ec1-d"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%]">
    <iframe src="https://player.vimeo.com/video/711860578?h=6608ce8ccc" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
