---
title: Lake Sonoma 50
list_title: "Lake Sonoma 50"
layout: project
date: 2023-04-08
tags:
  - project
  - race
video_url: "https://player.vimeo.com/progressive_redirect/playback/833776789/rendition/540p/file.mp4?loc=external&signature=f3e62a07d77772b33cc4900e4259416b8dc26b194bee008e0d173b9a875186e6"
photo_url: "https://i.vimeocdn.com/video/1680338574-09d3610c15618b235fbee3ffb19e0b75eabd0007aea30d260a34fb528df175c8-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/ffa2243b-37c0-41c8-8d2b-8a26e04150b8.gif?ClientID=vimeo-core-prod&Date=1686076819&Signature=fc56d0617955af52507464d9c42bd017f4631bb6"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%]">
    <iframe src="https://player.vimeo.com/video/833776789?h=cbb893ed7f" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
