---
title: Mammoth Trail Festival 2022
list_title: "Mammoth Trail Festival"
layout: project
date: 2022-09-23
tags:
  - project
  - race
photo_url: "https://ik.imagekit.io/tony/lightroom/mammoth_trail_fest_2022/_DSC9715_3idMTToWS.jpg"
---

<div class="flex flex-col items-center mx-5">
  {% render "gallery", items: projects.mammoth_trail_fest_2022, client: "Mammoth Trail Festival" %}
</div>
