---
title: Quad Dipsea
list_title: "Quad Dipsea"
layout: project
date: 2023-11-25
tags:
  - project
  - races
  - highlight
video_url: "https://player.vimeo.com/progressive_redirect/playback/889349082/rendition/720p/file.mp4?loc=external&log_user=0&signature=dfe9d8f8f7b3e261c85cc86d6867534269fb1ba6dd21a6cadb76d8a409006d28"
photo_url: "https://i.vimeocdn.com/video/1760919259-7670b677f8844be16528c6374f31292455594c235d9440b29cfc3ea1c3341451-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/ec15bede-21a1-4385-a1f3-3420fa089fcd.gif?ClientID=vimeo-core-prod&Date=1701230118&Signature=21ddf6a1ee4771cfed0aff33ad21e537a3b0e1ed"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%] mb-8">
    <iframe src="https://player.vimeo.com/video/889349082?h=a708ae94ea" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
