---
title: The North Face at WSER
list_title: "WSER 2024<br />The North Face"
layout: project
date: 2024-06-30
tags:
  - project
  - story
  - race
  - highlight
video_url: "https://player.vimeo.com/progressive_redirect/playback/972678800/rendition/540p/file.mp4?loc=external&log_user=0&signature=e23bcc1fcf033d4cca96560e7084bb6804196dd305447bb88d58f459886e8b9a"
photo_url: "https://i.vimeocdn.com/video/1951574549-ca221b43697c69437512179bb3040e8213fb6ba0dda52146bdff8488252a0a4a-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/5fbacd24-466d-4301-a2ca-c5ddef5e54c0.gif?ClientID=sulu&Date=1731972185&Signature=ec7185cca20a3eee7f858249fee37ce510f3633f"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative pt-[56.25%]">
    <iframe src="https://player.vimeo.com/video/972678800?h=2b07ae8fbe" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <p class="my-8 text-lg">
  Katie Schide, Rod Farvard, Shen Jiasheng, Jonathan Albon, Eleanor Davis, and Dang Guomin, all athletes with The North Face, toe the line at Western States 100 mile endurance run. A hot day, each goes through their trial. Katie takes first place for the women and Rod Farvard has an astounding 2nd place performance riding the heals of the infamous Jim Walmsley. No one has made Jim sweat like this before. And right on their heals was Hayden. A States to remember for sure.
  </p>
</div>
