---
title: The North Face - WSER
list_title: "The North Face <br/> Western States 100"
layout: project
date: 2023-06-25
tags:
  - project
  - race
video_url: "https://player.vimeo.com/progressive_redirect/playback/839908297/rendition/540p/file.mp4?loc=external&log_user=0&signature=746d3dc906f66be37bcd9f9e594f7a4cd63fdbaeb736c90e840e7319eedf10f7"
photo_url: "https://i.vimeocdn.com/video/1724603242-17227a3ce78922a695b623e0e13122c32b9a81771303311bd2717558b95ee5f6-d"
gif_url: "https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/491816be-0f74-4719-b0f8-42c984069864.gif?ClientID=vimeo-core-prod&Date=1694808048&Signature=0dff891f6aa461f05bc623d58cfb7c43fa85ffb4"
---

<div class="flex flex-col items-center mx-5">
  <div class="w-full relative lg:pt-[56.25%] md:pt-[100%] pt-[150%]">
    <iframe src="https://player.vimeo.com/video/839908297?h=9983c859c7" class="top-0 bottom-0 left-0 right-0 absolute w-full h-full" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
