---
title: Trials of Miles 2022
list_title: "Trails of Miles"
layout: project
date: 2022-01-12
tags:
  - project
  - race
photo_url: "https://ik.imagekit.io/tony/lightroom/trialsofmiles2022/_DSC0184_OEkl8zb3U.jpg"
---

<div class="flex flex-col items-center mx-5">
  <p class="my-8 text-lg">
  Trials of Miles is a company putting on local, grassroots races in big cities
  around the US. This is the final stage run at Twin Peaks in San Francisco.
  </p>

  {% render "gallery", items: projects.trialsofmiles2022, client: "Trials of Miles" %}
</div>
